$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #8b64ff;
$secondary-color:orange;
$main-color: #4292d2;

// set the text color and based on background color
@function set-text-color($color){
    @if(lightness($color)>70){
        @return #000;
    }
    @else{
        @return #fff;
    }
}


// set the background and text color

@mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
}